* {
    box-sizing: border-box;
  }

.body{
    position: relative;
}

.sup {
    width: 100%;
    height: 80px;

    position: absolute;
    left: 0;
    top: 0;

    border: 22px solid #ffffff;

    background-color: #ffffff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);

    display: flex;
    align-items: center;
    justify-content: space-between;

    z-index: 10;
}

.logo{
    width: 75px;
    height: 53px;

}

.people{
    width: 42.19px;
    height: 30.94px;

}

.texts{
    width: 100%;
    height: 667px;

    background-color: #F3F3F3;

    overflow-y: scroll;
    white-space: nowrap;
}

.div-body-test{
    width: 100%;

    margin-top: 84px;
    margin-bottom: 84px;
}

.texts::-webkit-scrollbar{
    display: none;
}

.message{
    width: 100%;
    height: 80px;

    position: absolute;
    left: 0;
    bottom: 0;

    border: 18px solid #ffffff;

    background-color: #ffffff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.5);
    z-index: 10;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input-message{
    font-family: 'Roboto', sans-serif;

    box-shadow: 0 0 0 0;
    border: 0 none;
    outline: 0;

    width: 300px;

    color: #000000;
    font-style: italic;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

.send{
    width: 22px;
    height: 22px;
}

/* --------------------------- FORMATAÇÃO DAS MENSAGENS ------------------------------ */

.message-box{
    width: 100%;
    height: 40px;

    background-color: #dcdcdc;

    margin-bottom: 4px;

    border-radius: 2px;
    border: 4px solid #dcdcdc;

    display: flex;
    align-items: center;
}

.message-box-status{
    width: 100%;
    height: 40px;

    background-color: #ffffff;

    margin-bottom: 4px;

    border-radius: 2px;
    border: 4px solid #ffffff;
    display: flex;
    align-items: center;
}

.message-box-private{
    width: 100%;
    height: 40px;

    background-color: #ffdede;

    margin-bottom: 4px;

    border-radius: 2px;
    border: 4px solid #ffdede;

    display: flex;
    align-items: center;
}

.from, .to {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

.text, .type {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #000000;
}

.time {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #aaaaaa;
}


